<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8" />
      <title>Cadastro - ChatCI</title>
   </head>
   <body>
      <h1><strong>Chat-CI</strong></h1>
      <form action="/finalizar_cadastro" method="post">
         {% if erro %}
            <p style="color: red;">{{ erro }}</p>
         {% endif %}
         <label for="username">Nome de Usuário:</label><br />
         <input type="text" id="username" name="username" /><br /><br />
         <label for="primeiro_nome">Primeiro Nome:</label><br />
         <input type="text" id="primeiro_nome" name="primeiro_nome" /><br /><br />
         <label for="ultimo_nome">Último Nome:</label><br />
         <input type="text" id="ultimo_nome" name="ultimo_nome" /><br /><br />
         <label for="email">Email:</label><br />
         <input type="email" id="email" name="email" /><br /><br />
         <label for="senha">Senha:</label><br />
         <input type="password" id="senha" name="senha" /><br /><br />
         <label for="tipo">Tipo de Cadastro:</label><br />
         <select name="tipo" id="tipo">
            <option value="aluno">Aluno</option>
            <option value="professor">Professor</option>
            <option value="administrador">Administrador</option></select
         ><br /><br />
         <input type="submit" value="Finalizar" />
      </form>
      <form action="/" method="get">
         <input type="submit" value="Voltar" />
      </form>
   </body>
</html>
