<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8" />
      <title>ChatCI</title>
   </head>
   <body>
      <h1><strong>Chat-CI</strong></h1>
      <br /><br />
      <div>
         <p>Acessar chat das disciplinas</p>
         <ul>
            <li><button>Pesquisa Operacional</button></li>
            <li><button>Sistemas de Informações nas Organizações</button></li>
         </ul>
      </div>
      <form action="/" method="get">
         <input type="submit" value="Voltar para o Login" />
      </form>

      <form action="/perfil" method="get">
         <input type="submit" value="perfil" />
      </form>
   </body>
</html>
