<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <title>Login - ChatCI</title>
</head>
<body>
   <h1><strong>Chat-CI</strong></h1>
   <form action="/logar" method="post">
      <label for="usuario">Usuário ou Email:</label><br>
      <input type="text" id="usuario" name="usuario"><br><br>
      <label for="senha">Senha:</label><br>
      <input type="password" id="senha" name="senha"><br><br>
      <input type="submit" value="Entrar">
   </form>
   <br>
   <form action="/cadastro" method="get">
      <input type="submit" value="Cadastro">
   </form>
</body>
</html>
